.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icon span {
  margin-left: 25px;
}

@keyframes rotatingCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header .fa-cog:hover {
  animation: rotatingCog 1s linear infinite;
}
